{% extends 'bibles/base.html' %}

{%block content %}
    <form action="{% url 'title_selected' %}" method="post" name="bible_form" id="bible_form" class="select_form">
        {% csrf_token %}
        <select name="title" id="title" onchange="titleFunc(this.value)" style="width: 150px;">
        <!-- <select name="title" onchange="alert(this.value)"> -->
            {% for title in all_title %}
                {% if selected_title == forloop.counter|slugify %}
                    <option value={{ forloop.counter }} selected>{{ title }}</option>
                {% else %}
                    <option value={{ forloop.counter }} >{{ title }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <select name="chapter" id="chapter" onchange="chapterFunc(this.value)">
            {% for chp in all_chapter %}
                {% if selected_chapter == forloop.counter|slugify %}
                <option value={{ chp }} selected>{{ chp }}</option>
                {% else %}
                <option value={{ chp }}>{{ chp }}</option>
                {% endif %}
            {% endfor %}
        </select>
        장        
        <a class="button_form">
            <input type="submit" class="button_left" value="이동">
        </a>
    </form>
    
    <span class="script_span">
        {% for line in whe %}
            {{ forloop.counter }}절
            <div contenteditable="true" type="text" class="script_font" tabindex="-1">{{ line }}</div>
            <!-- <textarea name="MSG" class="script_font" type="text" id="script_font" onkeydown="resize(this)" onkeyup="resize(this)" onfocus='this.style.height = "";this.style.height = this.scrollHeight + "px"' disabled>{{ line }}</textarea> -->
            <input class="type_font" type="text" id="inputtext" onkeydown="next('{{ all_chapter }}')">
            <br></br>
        {% endfor %}
        <!-- <textarea name="MSG" class="script_font" id="script_font">{{ whe }}</textarea>
        <input type="text" id="name" name="name"> -->
    </span>
    
    <script type='text/javascript'>
        // document.getElementById("title").addEventListener("change", titleFunc);
        function titleFunc(val) {
            // alert(val);
            console.log(this.val);
            document.getElementById("bible_form").submit()
            // alert(val)
            // document.bible_form.submit();
        }
        function chapterFunc(val) {
            // alert(val);
            console.log(this.val);
            document.getElementById("bible_form").submit()
        }
        $(window).resize(function(){
            var winWidth = $(window).width();
            var myta = document.getElementById("script_font");       
            var boxWidth = myta.width();
            myta.height(boxWidth*0.75);
        });
         
        function next(lim) {
            // alert(document.getElementById("inputtext").value)
            if(event.key == 'Enter' ) {
                // alert(document.getElementById("inputtext").nextElementSibling);
                // Cross-browser handling for our dear friend @MaxArt :p
                var evt = event || window.event,
                    target = evt.target || evt.srcElement,
                // Find the next input
                    nextInput = target.nextElementSibling;
                var tbox = target.previousElementSibling;

                // 마지막 띄워쓰기 있는 경우 제거
                if (tbox.textContent.slice(-1) == " "){
                    tbox.textContent = tbox.textContent.slice(0,-1);
                }

                // 입력값과 본문이 다른경우
                if ( target.value != tbox.textContent ){
                    var txt = tbox.textContent,
                        newText = "";
                    for (var i = 0; i < txt.length; i++){
                        if ( target.value[i] != txt[i] ){
                            newText += txt.charAt(i).fontcolor("red");
                        }
                        else{
                            newText += txt.charAt(i).fontcolor("blue");
                        }
                    }
                    tbox.innerHTML = newText;
                    return false;
                }
                else {
                    tbox.innerHTML = tbox.textContent.fontcolor("blue");
                }
                while ( nextInput.tagName !== 'INPUT' && nextInput.nextElementSibling) {
                    nextInput = nextInput.nextElementSibling;
                }
                // nextInput = nextInput.nextElementSibling;
                // And focus it
                
                nextInput.focus();
                // Finally, disable submitting IF there is no input after
                var allInputs = document.getElementsByTagName("input");

                // 마지막 장인 경우
                if (tbox.textContent == allInputs[allInputs.length - 1].value) {
                    // lastChap = 성경의 마지막 장
                    // cur = 현재 장
                    var lastChap = lim.split(",")[1].slice(0,-1),
                        cur = document.getElementById("chapter").value;
                    // lastChap = lastChap.substring(0,lastChap.length-1);
                    lastChap = Number(lastChap) - 1;
                    if (lastChap == cur){
                        window.confirm("마지막 장입니다.\n 다음으로 넘어가시겠습니까?");
                    }
                    else if (window.confirm("다음 장으로 넘어가시겠습니까?")) {
                        document.getElementById("chapter").value = 1 + Number(document.getElementById("chapter").value);
                        chapterFunc(document);
                    }
                    return false;
                }
            }
        }

        function resize(obj) {
            obj.style.height = "1px";
            obj.style.height = (12+obj.scrollHeight)+"px";
        }

    </script>
{% endblock %}
