/* h1 a {
    font-family: 'Lobster', cursive;
} */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
.page-header {
    background-color: #080333;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-family: 'Gugi', cursive;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}


.post-form textarea, .post-form input {
    width: 80%;
    height: 10%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.bible {
    margin-bottom: 70px;
}

.bible h1 a, .bible h1 a:visited {
    color: #000000;
}

select::-ms-expand { 
	display: none;
}

.select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.content_frame {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 10%;
}